{% extends "header.html" %}

{% block title %}Data{% endblock %}

{% block body %}
        {% for d in data %}
    <h3>Personal information:</h3>
    <div class="textbox">
        <label for="type_of_qualification_dropdown">Qualification:</label>
        <input type="text" id="type_of_qualification_dropdown" name="type_of_qualification_dropdown" value="{{d.type_of_qualification}}" disabled>
    </div>
    <div class="textbox">
        <label for="special_adminstration_of_qualification_dropdown">Any Special Adminstration duties:</label>
        <input type="text" id="special_adminstration_of_qualification_dropdown" name="special_adminstration_of_qualification_dropdown" value="{{d.special_adminstration_of_qualification}}" disabled>
    </div>
    <div class="textbox">
        <label for="Name_of_the_staff">Name of the staff:</label>
        <input type="text" id="Name_of_the_staff" name="Name_of_the_staff" value="{{d.Name_of_the_staff}}" disabled>
    </div>
    <div class="textbox">
        <label for="Date_of_birth">Date of birth:</label>
        <input type="text" id="Date_of_birth" name="Date_of_birth" value="{{d.Date_of_birth}}" disabled>
    </div>
    <div class="textbox">
        <label for="Department">Department:</label>
        <input type="text" id="Department" name="Department" value="{{d.Department}}" disabled>
    </div>
    <div class="textbox">
        <label for="Designation">Designation:</label>
        <input type="text" id="Designation" name="Designation" value="{{d.Designation}}" disabled>
    </div>
    <div class="textbox">
        <label for="Date_of_joining">Date of joining:</label>
        <input type="text" id="Date_of_joining" name="Date_of_joining" value="{{d.Date_of_joining}}" disabled>
    </div>
    <div class="textbox">
        <label for="total_experience">Total experience:</label>
        <input type="text" id="total_experience" name="total_experience" value="{{d.total_experience}}" disabled>
    </div>
    <div class="textbox">
        <label for="experience_at_viit">Experience at VIIT:</label>
        <input type="text" id="experience_at_viit" name="experience_at_viit" value="{{d.experience_at_viit}}" disabled>
    </div>
    {% endfor %}
    <br><br>
    <h4>Educational Qualifications:</h4>
    <table id="table_education" class="table table-bordered table-hover">
        <thead>
            <th>Qualification</th>
            <th>Year</th>
            <th>College</th>
            <th>University</th>
        </thead>
        {% for d in data_2 %}
        <tr>
            <td>{{d.qualification}}</td>
            <td>{{d.year}}</td>
            <td>{{d.college}}</td>
            <td>{{d.university}}</td>
        </tr>
        {% endfor %}
    </table><br><br>
    <h4>Result feedback:</h4>
    <table id="table_3" class="table table-bordered table-hover">
        <thead>
            <th>Academic Year</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Subject</th>
            <th>Result%</th>
            <th>Feedback%</th>
        </thead>
        {% for d in data_3 %}
        <tr>
            <td>{{d.Academic_Year}}</td>
            <td>{{d.Year}}</td>
            <td>{{d.Semester}}</td>
            <td>{{d.Subject}}</td>
            <td>{{d.result}}</td>
            <td>{{d.feedback}}</td>
        </tr>
        {% endfor %}
    </table><br><br>
    <h4>Research contributions(2021):</h4>
    <table id="table_research" class="table table-bordered table-hover">
        <thead>
            <th>Calendar year</th>
            <th>Type</th>
            <th>Name of the Journal</th>
            <th>Volume</th>
            <th>Issue number</th>
            <th>Page numbers(from-to)</th>
            <th>Author position</th>
        </thead>
        {% for d in data_4 %}
        <tr>
            <td>{{d.calendar_year}}</td>
            <td>{{d.Type}}</td>
            <td>{{d.name_of_the_journal}}</td>
            <td>{{d.volume}}</td>
            <td>{{d.issue_number}}</td>
            <td>{{d.page_numbers}}</td>
            <td>{{d.author_position}}</td>
        </tr>
        {% endfor %}
    </table><br><br>
    <h4>Administrative involvement:</h4>
    {% for data_5 in data_5 %}
    <div class="textbox">
        <label for="college_level">(a)College Level:</label>
        <input type="text" id="college_level" name="college_level" value="{{data_5.college_level}}">
    </div>
    <div class="textbox">
        <label for="department_level">(b)Department Level:</label>
        <input type="text" id="department_level" name="department_level" value="{{data_5.departmentlevel}}">
    </div>
    <div class="textbox">
        <label for="university_level">(c)University Level:</label>
        <input type="text" id="university_level" name="university_level" value="{{data_5.universitylevel}}">
    </div>
    <div class="textbox">
        <label for="any_other_organization">(d)Any other Organization:</label>
        <input type="text" id="any_other_organization" name="any_other_organization" value="{{data_5.anyotherorganization}}">
    </div>
    <div class="textbox">
        <label for="other_contributions">(d)Any other Organization:</label>
        <input type="text" id="other_contributions" name="other_contributions" value="{{data_5.other_contributions}}">
    </div><br><br>
    {% endfor %}
    <h4>Performance Of Counselling Students:</h4>
    {% for data_6 in data_6 %}
    <div class="textbox">
        <label for="no_of_students_adopted">No. of students adopted:</label>
        <input type="text" id="no_of_students_adopted" name="no_of_students_adopted" value="{{data_6.no_of_students_adopted}}" disabled>
    </div>
    <div class="textbox">
        <label for="no_of_backlog_subjects_before_counselling">No. of backlog subjects before counselling:</label>
        <input type="text" id="no_of_backlog_subjects_before_counselling" name="no_of_backlog_subjects_before_counselling" value="{{data_6.no_of_backlog_subjects_before_counselling}}" disabled>
    </div>
    <div class="textbox">
        <label for="no_of_backlog_subjects_at_the_ending_of_the_year">No. of backlog subjects at the ending of the year:</label>
        <input type="text" id="no_of_backlog_subjects_at_the_ending_of_the_year" name="no_of_backlog_subjects_at_the_ending_of_the_year" value="{{data_6.no_of_backlog_subjects_at_the_ending_of_the_year}}" disabled>
    </div>
    <div class="textbox">
        <label for="name_one_faculty_in_the_entire_college_who_is_most_competitive">Name one faculty in the entire College who is most competitive:</label>
        <input type="text" id="name_one_faculty_in_the_entire_college_who_is_most_competitive" name="name_one_faculty_in_the_entire_college_who_is_most_competitive" value="{{data_6.name_one_faculty_in_the_entire_college_who_is_most_competitive}}" disabled>
    </div>
    <div class="textbox">
        <label for="name_one_faculty_in_the_department_who_is_most_competitive">Name one faculty in the department who is most competitive:</label>
        <input type="text" id="name_one_faculty_in_the_department_who_is_most_competitive" name="name_one_faculty_in_the_department_who_is_most_competitive" value="{{data_6.name_one_faculty_in_the_department_who_is_most_competitive}}" disabled>
    </div>
    {% endfor %}
    <h2>Knowledge improvement programmes participated during the year:</h2>
    <table id="table_5" class="table table-bordered table-hover">
        <thead>
            <th>Workshop/Training program</th>
            <th>Paid/Sponsored</th>
            <th>Duration dates(From-to)</th>
            <th>Place of the institute/Organization where event was held</th>
        </thead>
        {% for d in data_7 %}
        <tr>
            <td>{{d.workshop_training_program}}</td>
            <td>{{d.paid_sponsored}}</td>
            <td>{{d.duration_dates}}</td>
            <td>{{d.place_of_the_institute}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}