{% extends "header.html" %}

{% block title %}Educational Qualifications{% endblock %}

{% block body %}

<div class="educarional_qualifications">
    {% csrf_token %}
    <h4>Educational Qualifications:</h4>
    <div class="textbox-dropdown">
        <label for="Qualification">Qualification:</label>
        <select name="Qualification" id="Qualification" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="UG">UG</option>
            <option value="PG">PG</option>
            <option value="Ph.D">Ph.D</option>
        </select>
    </div>
    <div class="textbox-dropdown">
        <label for="Year">Year:</label>
        <select name="Year" id="Year" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
        {% for i in n %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="textbox">
        <label for="College">College Name:</label>
        <input type="text" id="College" name="College" value="">
    </div>
    <div class="textbox">
        <label for="University">University:</label>
        <input type="text" id="University" name="University" value="">
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="addrow_education();">Add</button><br><br>
    <table id="table_education" class="table table-bordered table-hover">
        <thead>
            <th>Qualification</th>
            <th>Year</th>
            <th>College</th>
            <th>University</th>
        </thead>
    </table>
    <button type="button" class="btn btn-outline-primary" onclick="deleterow_education();">Remove</button>
    *Remove button will delete the first row.<br><br>
    <button type="button" class="btn btn-outline-primary" onclick="save_education();">Save</button><br><br>
    <a href="result_feedback" ><button type="button" class="btn btn-outline-primary" id="next_education" disabled>Next</button></a>
</div>

{% endblock %}