{% extends "header.html" %}

{% block title %}Knowledge improvement programmes participated during the year{% endblock %}

{% block body %}

<div class="knowledge_improvement_programmes_participated_during_the_year">
    {% csrf_token %}
    <h2>Knowledge improvement programmes participated during the year:</h2>
    <div class="textbox-dropdown">
        <label for="workshop_training_program">Workshop/Training program:</label>
        <select name="workshop_training_program" id="workshop_training_program" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <option value="Participated">Participated</option>
            <option value="Organised">Organised</option>
        </select>
    </div>
    <div class="textbox">
        <label for="paid_sponsored">Paid/Sponsored:</label>
        <input type="text" id="paid_sponsored" name="paid_sponsored" value="">
    </div>
    <div class="textbox">
        <label for="duration_dates">Duration dates(From-to):</label>
        <input type="text" id="duration_dates" name="duration_dates" value="">
    </div>
    <div class="textbox">
        <label for="place_of_the_institute">Place of the institute/Organization where event was held:</label>
        <input type="text" id="place_of_the_institute" name="place_of_the_institute" value="">
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="addrow_5();">Add</button><br><br>
    <table id="table_5" class="table table-bordered table-hover">
        <thead>
            <th>Workshop/Training program</th>
            <th>Paid/Sponsored</th>
            <th>Duration dates(From-to)</th>
            <th>Place of the institute/Organization where event was held</th>
        </thead>
    </table>
    <button type="button" class="btn btn-outline-primary" onclick="deleterow_5();">Remove</button>
    *Remove button will delete the first row.<br><br>
</div>
<button type="button" class="btn btn-outline-primary" onclick="save_5();">Save</button><br><br>
    <a href="thankyou" ><button type="button" class="btn btn-outline-primary" id="next_5" disabled>Next</button></a>

{% endblock %}