{% extends "header.html" %}

{% block title %}Personal information{% endblock %}

{% block body %}

<h1>Self Appraisal Report</h1>

<div class="personal-information">
    {% csrf_token %}
    <h3>Personal information:</h3>
    <div class="textbox-dropdown">
        <label for="type_of_qualification_dropdown">Qualification:</label><br>
        <select name="type_of_qualification_dropdown" id="type_of_qualification_dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="Doctorate">Doctorate</option>
            <option value="Non-Doctorate">Non-Doctorate</option>
        </select>
    </div>
    <div class="textbox-dropdown">
        <label for="special_adminstration_of_qualification_dropdown">Any Special Adminstration duties:</label><br>
        <select name="special_adminstration_of_qualification_dropdown" id="special_adminstration_of_qualification_dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>
    <div class="textbox">
        <label for="Name_of_the_staff">Name of the staff:</label>
        <input type="text" id="Name_of_the_staff" name="Name_of_the_staff" required>
    </div>
    <div class="textbox">
        <label for="Date_of_birth">Date of birth:</label>
        <input type="date" id="Date_of_birth" name="Date_of_birth" required>
    </div>
    <div class="textbox-dropdown">
        <label for="department_dropdown">Department:</label><br>
        <select name="department_dropdown" id="department_dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="MECH">MECH</option>
            <option value="CIVIL">CIVIL</option>
            <option value="IT">IT</option>
            <option value="MCA">MCA</option>
            <option value="MBA">MBA</option>
            <option value="BS&H">BS&H</option>
        </select>
    </div>
    <div class="textbox-dropdown">
        <label for="designation_dropdown">Designation:</label><br>
        <select name="designation_dropdown" id="designation_dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="Professors">Professors</option>
            <option value="Associate Professors">Associate Professors</option>
            <option value="Asst. Professors">Asst. Professors</option>
            <option value="Trainers">Trainers</option>
            <option value="Programmers">Programmers</option>
        </select>
    </div>
    <div class="textbox">
        <label for="Date_of_joining">Date of joining:</label>
        <input type="date" id="Date_of_joining" name="Date_of_joining" required>
    </div>
    <div class="textbox-dropdown">
        <label>Total experience(in years & months):</label><br>
        <label for="total_experience_years">in years:</label>
        <select name="total_experience_years" id="total_experience_years" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select>
    </div>
    <div class="textbox-dropdown">
        <label for="total_experience_months">in months:</label>
        <select name="total_experience_months" id="total_experience_months" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="textbox-dropdown">
        <label>Experience at VIIT(in years & months):</label><br>
        <label for="experience_at_viit_years">in years:</label>
        <select name="experience_at_viit_years" id="experience_at_viit_years" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select>
        
    </div>
    <div class="textbox-dropdown">
        <label for="experience_at_viit_months">in months:</label>
        <select name="experience_at_viit_months" id="experience_at_viit_months" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" required>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="save_1();">Save</button><br><br>
    <a href="education_qualifications" ><button type="button" class="btn btn-outline-primary" id="next_1" disabled>Next</button></a>
</div>

{% endblock %}